{% extends "layout.jinja" %}

{% set show_navigation = true %}
{% set splashpage = false %}
{% set Menu = 'solid' %}
	

{% block title %}Forside{% endblock %}

{% block content %}
    <h1>Index</h1>
    <p class="important">
      Welcome to my awesome homepage.
    </p>
{% endblock %} 