{% extends "layout.jinja" %}

{% set show_navigation = true %}
{% set splashpage = false %}
{% set Menu = 'solid' %}
	

{% block title %}Forside{% endblock %}

{% block content %}
<div class="base-component row-3">
	<header>
	
	<section class="body">
	<h2>Velkommen til Minerva,</h2>
	<p>En ny og effektiv måde at dele, søge og videreudvikle undervisnings materiale.</p>
	<p><b>Kom godt i gang:</b></p>
	
	<p><b>Opret nyt dokument</b><br />
	Klik på menu <span class="icon-menu"></span> og vælg <i>“Opret dokument”</i> <span class="icon-insert_drive_file"></span><br />
	der vil du kunne trække eller vælge en Docx fil fra din computer, og udfylde de passende informationer om dokumentet.</p>
	
	<p><b>Vis alle dine dokumenter</b><br />
	Klik på menu <span class="icon-menu"></span> og vælg <i>“Dokument oversigt”</i> <span class="icon-view_module"></span><br />
	der kan du se alle dine oprettede dokumenter i 2. forskellige visnings metoder, for at skrifte mellem dem, tryk på <i>“Liste visning”</i> <span class="icon-view_module"></span> eller <i>“Fil visning”</i> <span class="icon-view_list"></span> </p>
	
	<p><b>Søg efter eksisterende dokumenter</b><br />
	Som bruger af Minerva, har du mulighed for at søge blandt alt undervisnings materiale i systemet.<br/>
	Leder du fx. efter Dansk opgaver til en folkeskole klasse, så søg efter : <i>“folkeskole dansk H.C. Andersen”</i></p>
	</section>
</div>
{% endblock %} 