{% extends "layout.jinja" %}

{% set show_navigation = true %}
{% set splashpage = false %}
{% set Menu = 'solid' %}
	

{% block title %}Forside{% endblock %}

{% block content %}
<h2>Velkommen til Minerva,</h2>
<p>En ny og effektiv måde at dele, søge og videreudvikle undervisnings materiale.</p>
<p><strong>Kom godt i gang:</stong></p>

<p><strong>Opret nyt dokument</strong><br />
Klik på menu <span class="icon-menu"></span> og vælg <i>“Opret dokument”</i> <span class="icon-insert_drive_file"></span><br />
der vil du kunne trække eller vælge en Docx fil fra din computer, og udfylde de passende informationer om dokumentet.</p>

<p><strong>Vis alle dine dokumenter</strong><br />
Klik på menu <span class="icon-menu"></span> og vælg <i>“Dokument oversigt”</i> <span class="icon-view_module"></span><br />
der kan du se alle dine oprettede dokumenter i 2. forskellige visnings metoder, for at skrifte mellem dem, tryk på <i>“Liste visning”</i> <span class="icon-view_module"></span> eller <i>“Fil visning”</i> <span class="icon-view_list"></span> </p>

<p><strong>Søg efter eksisterende dokumenter</strong><br />
Som bruger af Minerva, har du mulighed for at søge blandt alt undervisnings materiale i systemet.<br/>
Leder du fx. efter Dansk opgaver til en folkeskole klasse, så søg efter : <i>“folkeskole dansk H.C. Andersen”</i></p>
{% endblock %} 