{% extends "layout.jinja" %}
{% import 'micros/input.jinja' as input %}

{% set show_navigation = false %}
{% set splashpage = false %}
{% set Menu = 'solid' %}
{% set login = true %}
{% set show_header = true %}


{% block title %}{{theDocument.name}}{% endblock %}

{% block content %}	

	
			<div class="base-component login">
				<header>
					<div class="row">
						{{ theDocument.name }}
					</div>
					<div class="row row-right">
						<a href="/session/get_all_documents_from_user/{{ theUser.id }}">af {{ theUser.firstname}} {{ theUser.lastname}}</a>
					</div>
				</header>
				<section class="body">
					<p>{{ theDocument.version }}</p>
					<p>{{ theDocument.created }}</p>
					<p>{{ theDocument.name }}</p>
					<p>{{ theDocument.subtitle }}</p>
					<p>{{ theDocument.description }}</p>
					<p>{{ theDocument.subject }}</p>
					<p>{{ theDocument.topic }}</p>
					<p>{{ theDocument.education_level }}</p>
				
					{% if theDocument.user_id == g.userId %}
					<p><a class="button white" href="{{ url_for('html_view', fileId=theDocument.id ) }}" target="_blank" alt="Rediger {{ theDocument.name }}">Rediger Document</a></p>
					{% endif %}
				</section>
				<footer>

					<a class="button green download" href="{{ url_for('html_view', fileId=theDocument.id ) }}" target="_blank" alt="Vis Hjemmeside">Vis hjemmeside</a>
					 
 
					<a class="button green download" href="{{ url_for('download_epub', fileId=theDocument.id ) }}" target="_blank" alt="Hent E-bog">Hent E-bog</a>
					 
 
					<a class="button green download" href="{{ url_for('download_orginal', fileId=theDocument.id ) }}" target="_blank" alt="Hent Den orginale docx fil">Hent Docx filen</a>
				</footer>
			</div>

{% endblock %}

