{% extends "layout.jinja" %}
{% import 'micros/input.jinja' as input %}

{% set show_navigation = true %}
{% set splashpage = false %}
{% set Menu = 'solid' %}
	

{% block title %}Rediger {{ theDocument.name }}{% endblock %}

{% block content %}
   			<div class="base-component">
				<header>
					<div class="row">
						<p>Rediger {{ theDocument.name }}</p>
					</div>
				</header>
				<section class="body">

				<div class="row-1">
					<div id="dropzone" class="droparea" data-text="DOCX" >
							<img class="icon-logo" src="{{ url_for('static', filename='assets/images/document.svg') }}" height="auto" width="80px">
						</div>
						<button data-function="chooseFile" style="display:block; width:50%; margin: 0 auto;">Træk eller vælg fil</button>
					</div>
					{{ input.createDocumentUpdateForm(seacretKey, theDocument.id, theDocument.name , theDocument.subtitle, theDocument.description, theDocument.subject, theDocument.topic, theDocument.education_level ) }}
				</section>
				<footer>
					<div class="right">
						<a href="{{ url_for('viewDocument', fileId=theDocument.id, _external=True, _scheme=g.PREFERRED_URL_SCHEME) }}" class="button red"><span class="icon-close"></span>Annullere</a>
					</div>

					<div class="right">
							<button type="submit" id="submitDocument" class="green">Opdater dokument</button>
					</div>
				</footer>
			</div>

{% endblock %}