		
		<nav>
			<header>
				<div id="menu-close" class="right">
					<a href="#">
						<span class="icon-close"></span>
					</a>
				</div>
			</header>
			<ul>

				{% for href, icon, caption in [('index', 'icon-home', 'Forside'),
								 ('createDocument','icon-insert_drive_file' , 'Opret Dokument'),
        		                 ('viewDocuments', 'icon-view_module', 'Dokument oversigt'),
        		                 ('logoff', 'icon-lock', 'Log af')] %}
        			<li><a href="{{ url_for(href,  _external=True, _scheme="https") }}"><span class="{{ icon }}"></span> {{ caption }}</a></li>
    			{% endfor %}
			</ul>
		</nav>